body {
      position: relative; 
  }
/*HEADER*/
header{
    background-image: url("navbarimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 60em;
    max-width:100%;
    background-attachment: fixed;
}
header h2 {
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 180%;
    font-family: Georgia, serif;
}
header h1 {
    position: absolute;
    left: 0;
    top: 16%;
    width: 100%;
    text-align: center;
    font-size: 350%;
    font-family: Georgia, serif;
}
@media only screen and (max-width: 600px){
    header{
        height: 50em;
    }
    header h2{
        top: 4%;
        right: 0;
        font-size: 100%
    }
    header h1{
        left: 0;
        top: 13%;
        width: 100%;
        text-align: center;
        font-size: 250%;
    }
}
/*GENERAL*/
#general img{
    position:relative;
    width: 370px;
    float: left;
    margin: 4% 2% 2% 2%;
}
#tablegeneral, #tablepersonal{
    position: relative;
    float: left;
    margin: 3.5% 2% 2% 2%;
    font-size: 130%;
}
#tablegeneral td, #tablepersonal td{
    padding: 1.5%;   
    font-family: Georgia, serif;
}
#tableeducation {
    position: relative;
    float: none;
    margin: 0;
    font-size: 120%;
}
#tableeducation td, #tableeducation th{
     padding: 0.6%;
     font-family: Georgia, serif;
}
#tableeducation th{
    background-color: #DCDCDC;
    text-align: center;
}
#tableeducation td{
    background-color: #F8F8FF;
    text-align: center;
    border-bottom: 1px solid #DCDCDC
}
@media only screen and (max-width: 600px){
    #tableeducation td, #tableeducation th{
         padding: 0%;
         font-size: 68%;
         margin: 0;
    }
    #general img{
    margin: 0;
    }
}
/*OIL&GAS INDUSTRY*/
#oilgas {
    position: relative;
    background-color: #F5F5DC;
    font-family: Georgia, serif;
}
#experience, #trainingdrilling{
    position: relative;
    float: left;
    margin: 3.5% 2% 2% 0%;
    font-size: 120%;
}
#trainingdrilling {
    margin-top: 0;
}
#experience td, #trainingdrilling td{
    border-bottom: 1px solid #B0C4DE;
}
#experience th, #trainingdrilling th{
    background-color: #547495;
    color:white;
    padding: 1.1% 0;
    text-align: center;
}
#oilgas img{
    position:relative;
    width: 250px;
    margin: 4% 2% 2% 2%;
}
#oilgas p{
    position: relative;
    font-size: 120%;
    text-align: justify;

}
@media only screen and (max-width: 960px){
    #oilgas img{
        display: none;
    }  
}
@media only screen and (max-width: 480px){
    #experience, #trainingdrilling{
        font-size: 85%;
        text-align: center;
    }
}
/*IT INDUSTRY*/
#itindustry{
    background-image: url("it.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#ittraining{
    font-size: 130%;
    font-family: Lucida Console , Monaco, monospace;
    margin: 4% 0.2%;
    float: left;
    border-bottom: 1px solid black;
}
#ittraining th, #ittraining td{
    padding: 1.5%;
    text-align: center;
    font-weight: bold;
    color: #000000
}
#ittraining caption{
    color: #000000;
    font-weight: bold;
}
#itindustry h2{
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-family: Lucida Console , Monaco, monospace;
    font-size: 250%;
    margin-bottom: 4%;

}
#itindustry p{
    text-align: justify;
    color: #000000;
    font-family: Lucida Console , Monaco, monospace;
    margin: 4% 0.2%;
    padding: 1.5%;
    font-size: 130%;
}
@media only screen and (max-width: 480px){
    #ittraining{
        font-size: 95%;
        }
}
/*CONTACT*/
#contact h4 {
    font-size: 350%;
    margin: 4% 2% 2% 2%;
    font-family: Georgia, serif, bold;
}
#contact p{
    font-size: 22px;
    margin: 2%;
    float: left;
    font-family: Georgia, serif;
}
.wrapper{
    position: relative;
    float: left;
}
.input-group{
    margin: 4%;
    font-family: Georgia, serif;
}
#contact textarea{
     border-radius: 5px;
     font-family: Georgia, serif;
}
/*FOOTER*/
#footer{
    background: -webkit-linear-gradient(left, #000000, white);
    padding-top: 20px;
    margin-top: 20px;
    color: white;
    font-family: Georgia, serif;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: none;
}
a:active {
    color: blue;
    text-decoration: none;
}
